<?xml version="1.0"?>

<model>
  <name>Height Map</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ryan O'Shea</name>
    <email>roshea@stevens.edu</email>
  </author>

  <description>
    A height map to produce rough terrain in gazebo.
  </description>
</model>
