<?xml version="1.0"?>

<model>
  <name>Mining Area Height Map</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf.simple</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ryan Hartman</name>
    <email>rhartman1239@gmail.com</email>
  </author>

  <description>
    A heightmap attempting to model the bumpy surface of the mining area.
  </description>

</model>
